body{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    
}

.top-section{
    background: #264653;
}

.top-banner h1{
    font-weight: 600;
    font-size: 48px;
    color: white;
}

.banner-text{
    margin-left: 15px;
}
.btn-primary{
    box-shadow: none !important;
    width: 168px;
    height: 44px;    
    background: #E76F51 !important;
    border-radius: 5px;
    border: none;
}
/* main part  */
/* bike section start  */
.bikes-features{
    margin-top: 100px;
}
.bikes-features h2{
    font-weight: 600;
    font-size: 48px;
}
.bikes-features h6{
    font-size: 14px;
    font-weight: 600;
    color: #E76F51 ;
}
.bikes-features .gray-scale {
    filter: grayscale(100%);
}
/* latest news section  */
.latest-news{
    margin-top: 165px;
}
.latest-news h2{
    font-weight: 600;
    font-size: 48px;
}
.latest-news .news-title{
    margin-bottom: 45px;
}
.bike-cards{
    margin-bottom: 160px;
}
.latest-news a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 10px 18px;
    background: #E76F51;
    border-radius: 5px;
    
}
.latest-news .card-footer{
    border: none;
    background-color: white;
    
}
/* ----------------------
    clients section 
----------------- =======*/
.clients{
    margin-bottom: 160px;
}
.clients .client-title{
    margin-bottom: 55px;
}
.clients h2{
    font-weight: 600;
    font-size: 48px;
    /* letter-spacing: 1px; */
}
.clients h2 span{
    color:  #E76F51;
}
.clients img{
    width: 149px;
    height: 149px;
}
.client-detail .fa-star{
    color: #E77C40;
    width: 22.01px;
    height: 22.01px;
    margin-bottom: 10px;
}
/* faq section started  */
.faq{
    margin-bottom: 80px;
}
.faq h2{
    font-weight: 600;
    font-size: 48px;
}
.faq h2 span{
    color: #E76F51;
}
.faq .faq-title{
    margin-bottom: 112px;
}
/* final part  */
/* extra section  */
.services{
    margin-bottom: 100px;
}
.services h2{
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 2px;
    
}
.services h2 span{
    color: #E76F51;
}
/* contact form  */
.contact-form  h2{
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 2px;
}
.contact-form  h2 span{
    color: #E76F51;
}
/* -------------------------------
-------------finished--------------
--------------------------------- */
/* preloader  */
#pre-loader {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}